# PythonStartup

### Bones
/config/PythonStartup/CustomSpineBonePickerWindowMenu_v1_1.py

### Codex
/config/PythonStartup/CodexMotionBuilderBridge.py
/config/PythonStartup/CodexMotionBuilderBridgeToolStartup.py



# Scripts

### Bones
/config/Scripts/CustomSpineBonePicker.py

### Codex
/config/Scripts/CodexMotionBuilderBridge.py
/config/Scripts/CodexMotionBuilderBridgeTool.py

/config/Scripts/.**/
/config/Scripts/**/**[Dd]ebug**
/config/MotionBuilderToolsManager/backups
/config/Scripts/__pycache__
/config/Scripts/custom/__pycache__
/config/Scripts/mobu_tools_manager/__pycache__
/config/Scripts/mobu_tools_manager/fcurves/__pycache__
/config/Scripts/mobu_tools_manager/features/__pycache__
/config/Scripts/mobu_tools_manager/generated_actions/__pycache__
/config/Scripts/mobu_tools_manager/interactions/__pycache__
/config/Scripts/mobu_tools_manager/object_transforms/__pycache__
**__pycache__**
**test**
config/**.Application.txt
config/**.EXTENSIONS.txt
config/**.Filters.txt
config/**.History.txt
config/**.Perforce.txt
config/**.Physics.txt
config/**.DefaultRagdoll.txt
config/**.Task.txt
config/**.Python.txt
config/**.Physics.txt

config/Shelves.xml
config/propertyview.fbx
config/modeldefaultsettings.fbx
